@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
ul li {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
}
a:hover {
	text-decoration: none;
}
body {
	width: 100%;
	margin: 0;
}
header {
	position: relative;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-weight: 100;
	background: linear-gradient(45deg, #4fa49a 25%, #4361c2 75%);
	font-weight: 100;
	color: #fff;
	font-size: 36px;
}
#main {
	width: 100%;
	margin: 0 auto;
}
.row {
	width: 100%;
	margin: 0;
	padding: 0 0 10px 0;
}
.row .col-md-12 {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li {
	margin: 0;
	padding: 5px 0 0 5px;
	border-bottom: 1px solid  #ccc;
	font-size: 2em;
	line-height: 1.75;
	height: 2em;
	display: block;
	color: #333;
	text-shadow: 0 0 10px #ccc;
	border-bottom: 1px solid  #ccc;
}
ul li:hover {
	box-shadow: 0 0 5px 5px #ccc;
	/*background-color: #eee;*/
}
.class-date {
	margin: 0 auto;
	text-align: center;
	display: block;
	height: 100px;
	line-height: 100px;
	width: 80%;
	border-bottom: 1px solid  #ccc;
	letter-spacing: .5em;
}
.class-date a {
	display: block;
}
.class-date a:hover {
	text-shadow: 0 0 10px 0px #ccc;
	box-shadow: 0 0 10px 0px #ccc;
	transition: box-shadow .25s ease 0s;
}

/* ボタン */
.row.button-branch {
	position: fixed;
	bottom: 2em;
	visibility: hidden;
}
.btn {
	width: 20vw;
}
.btn-group {
	margin-left: 10vw;
	text-align: center;
}
/* 星 */
ul li > i {
	float: right;
	padding-right: 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #ccc;
}
/* 入力窓 */
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}
footer input {
	width: 100%;
	height: 2em;
	outline: 0;
	border: 1px solid #999;
	font-size: 1.5em;
}
footer input:focus {
	border: 1px solid orange;
}
